*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

html, body, #root {
  height: 100%;
}

.particles canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}